.intro{
    height: 700px;
    width: 700px;
    background-color: yellow;
    margin-left: 200px;
    margin-top: 50px;
    border-top: 50px solid brown;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom: 50px solid brown;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.img1{
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-top: 20px;
    
}
.img2{
    height: 200px;
    width: 200px;
    margin-left: 15px;
    
}
.img3{
    height: 200px;
    width: 200px;
    margin-left: 20px;
    margin-top: 15px;
}
.img4{
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-top: 20px;
    
}

.img5{
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-top: 15px;

}
.img7{
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-top: 20px;

}
.img8{
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-top: 20px;
    
    
}

