@font-face {
    font-family: heading;
    src: url(font/SaltDebrisPersonalUse-8MdgA.otf);
}
h1{
    font-family: heading;
    text-align: center;
    background-color: palevioletred;

}
h3{
    background-color: darksalmon;
    text-align: center;
}
.one{
    height: 800px;
    width: 800px;
    background-color: skyblue;
    background-image: url(./images/css\ image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
