h2{
    border: solid black;
    display: inline;
}
h2~h2{
    border-style: dashed;
}
h2~h2~h2{
    border-style: dotted;
}
h2~h2~h2~h2{
    border-style: double;
}
h3{
    border: 10px;
    border-style: groove;
    display: inline;
}
h3~h3{
    border: 5px;
    border-left-style: dotted;
    border-right-style: solid;
    border-top-style: dashed;
    border-bottom-style: double;
}